* {
  margin: 0;
  padding: 0; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline; }

html, body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.42857143;
  letter-spacing: 0.5px;
  min-height: 100vh;
  height: 100%; }

.link {
  cursor: pointer;
  color: white; }

body.modal-open {
  padding-right: 15px !important; }

.g-recaptcha {
  margin: 0 auto;
  text-align: center;
  width: 306px; }

.linkLogin {
  color: white;
  cursor: pointer; }
  .linkLogin:hover {
    color: white; }

.allCountry {
  padding-right: 44px !important; }

.country {
  color: black; }

.intl-tel-input .country-list {
  z-index: 9 !important; }

.disabledLink {
  color: #dcd4d4 !important;
  text-decoration: none !important;
  cursor: no-drop; }

.bg-btn {
  color: #fff;
  background-color: #023f97;
  height: 40px;
  font-size: 15px;
  font-weight: 800;
  font-style: italic;
  line-height: 18px;
  letter-spacing: 0.5px;
  padding: 7px 14px;
  border-width: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }
  .bg-btn:hover {
    color: #023f97;
    background-color: #fff; }

.app {
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  background-image: url("/img/bg_header_top.png");
  background-size: cover; }

.header-top-row {
  margin-top: 30px;
  color: #f00; }
  .header-top-row .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    color: #023f97;
    font-weight: 700;
    font-style: italic; }
    .header-top-row .navbar-right .dot {
      padding: 0 5px; }
    .header-top-row .navbar-right a {
      color: #023f97;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      cursor: pointer; }
      .header-top-row .navbar-right a:hover {
        color: #fff;
        text-decoration: underline; }

.header-bottom-row {
  margin-bottom: 45px;
  color: #008000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }
  .header-bottom-row .logo img {
    width: 109px;
    height: 109px;
    -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59);
            box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59); }
  .header-bottom-row .logo, .header-bottom-row .logoText {
    padding-right: 34px; }
  .header-bottom-row .logoText img {
    width: 400px;
    height: 100px; }
  .header-bottom-row .info-user {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .header-bottom-row .info-user .info-user-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header-bottom-row .info-user .info-user-row .info-user-total, .header-bottom-row .info-user .info-user-row .info-user-friends {
        font-weight: 800;
        font-size: 16px;
        line-height: 28px;
        font-style: italic;
        color: #243698;
        text-shadow: 1px 1px 0 white; }
        .header-bottom-row .info-user .info-user-row .info-user-total span, .header-bottom-row .info-user .info-user-row .info-user-friends span {
          padding-left: 8px; }

.menu {
  background-color: #243698;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  height: 30px; }

.menu-block {
  position: relative;
  top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }
  .menu-block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
            align-content: center;
    margin-left: 0;
    margin-right: 0;
    height: 20px; }
    .menu-block ul .active a {
      font-weight: 600;
      text-transform: uppercase; }
    .menu-block ul li {
      -webkit-box-flex: 1;
      -ms-flex: 1 1;
      -webkit-flex: 1 1;
              flex: 1 1;
      list-style-type: none;
      padding: 0 20px;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
      .menu-block ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        .menu-block ul li a:hover {
          text-decoration: underline; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 45px 0 90px 0;
  background-image: url("/img/bg_main.png");
  background-size: cover; }
  .main .block-description {
    padding: 20px;
    background-color: #2350ad;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    color: #fff;
    -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59);
            box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59); }
    .main .block-description_task {
      -webkit-box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59);
              box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59); }
    .main .block-description_user {
      width: 755px;
      padding: 20px 60px;
      margin: 0 auto; }
      .main .block-description_user h2 {
        text-align: center;
        margin-bottom: 40px; }
      .main .block-description_user .block-userArea-1 {
        text-transform: uppercase;
        font-weight: 900; }
      .main .block-description_user .block-userArea {
        margin-bottom: 25px; }
        .main .block-description_user .block-userArea a {
          color: white; }
          .main .block-description_user .block-userArea a:hover {
            color: white; }
      .main .block-description_user .block-userArea-flabel {
        text-align: center;
        color: #f2fb00;
        font-size: 12px;
        font-style: italic; }
  .main .block-video {
    text-align: center;
    margin: 35px auto 0 auto; }
  .main .block-auth {
    text-align: center;
    margin-top: 35px; }
  .main .block-auth-row {
    margin-bottom: 25px; }

.block-ways-row {
  width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px; }

.r-ways {
  margin-bottom: 50px;
  cursor: pointer; }
  .r-ways:hover {
    opacity: 0.8; }

.way-wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 64px;
  border: 1px solid white;
  background: #16aaf9;
  background: -webkit-linear-gradient(left, #16aaf9 0%, white 100%);
  background: -webkit-gradient(linear, left top, right top, from(#16aaf9), to(white));
  background: linear-gradient(to right, #16aaf9 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aaf9', endColorstr='#ffffff', GradientType=1 );
  -webkit-box-shadow: 10px 13px 27px -1px rgba(0, 0, 0, 0.68);
  box-shadow: 10px 13px 27px -1px rgba(0, 0, 0, 0.68); }
  .way-wrapper .w_star {
    position: absolute;
    right: -26px;
    top: -55px; }
  .way-wrapper .w_curl {
    position: absolute;
    top: -16px;
    left: -14px;
    float: left; }
  .way-wrapper .w_curl-2 {
    left: 114px !important; }
  .way-wrapper .w_curl-3 {
    left: 240px !important; }
  .way-wrapper .w_curl-4 {
    left: 366px !important; }
  .way-wrapper .w_curl-5 {
    left: 492px !important; }
  .way-wrapper .w_splash {
    position: absolute;
    top: -22px;
    left: 100px;
    float: left; }
  .way-wrapper .number_way {
    font-size: 28px;
    padding-left: 55px;
    font-weight: 800;
    color: white;
    font-style: italic;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1; }
  .way-wrapper .number_member {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    color: #023f97;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.col-way-1 {
  min-width: 150px; }

.col-way-2 {
  min-width: 350px; }
  .col-way-2 .w_splash {
    left: 235px; }

.col-way-3 {
  min-width: 500px; }
  .col-way-3 .w_splash {
    left: 380px; }

.col-way-4 {
  min-width: 650px; }
  .col-way-4 .w_splash {
    left: 520px; }

.col-way-5 {
  min-width: 780px; }
  .col-way-5 .w_splash {
    left: 660px; }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #243698;
  border-top: 3px solid #fff; }
  .footer .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .footer .email {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end; }
  .footer .email-icon_email {
    position: relative;
    color: #fff;
    cursor: pointer;
    top: 1px; }
    .footer .email-icon_email:hover {
      fill-opacity: 0.8; }
  .footer .social {
    padding: 5px 0; }
  .footer .social-title {
    font-weight: 800;
    font-size: 17px;
    font-style: italic;
    padding-bottom: 10px;
    color: #fff; }
  .footer .social-icon {
    cursor: pointer;
    margin-right: 12px; }
    .footer .social-icon:hover {
      fill-opacity: 0.8; }
  .footer .contact {
    color: #fff;
    text-align: right;
    font-style: italic; }
    .footer .contact a {
      color: white; }
  .footer .contact__title {
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 10px; }

.invitation-block-social {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .invitation-block-social .social-icon {
    cursor: pointer; }
    .invitation-block-social .social-icon:hover {
      fill-opacity: 0.8; }
  .invitation-block-social .social-icon_fb {
    position: relative;
    top: -8px; }

.btnAction, .jsRegisterDoneModal .btnAction {
  background-color: white;
  color: #243698;
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 74px; }

.btnAction_done {
  opacity: 1; }

.forgotPass {
  text-align: right;
  font-size: 13px;
  color: white; }
  .forgotPass:hover {
    color: white; }

.jsSignInModalBody, .jsRegisterModalBody, .jsAccessRecoveryModalBodyDone, .jsChangeLoginPhoneModalBody, .jsChangePasswordModalBody, .jsChangePasswordModalBodyDone, .jsChangeLoginModalBodyDone, .jsRecoveryPassModalBody, .jsAccessRecoveryPassModalBodyDone {
  display: none; }

.jsSignInModal .modal-header .close, .jsRegisterModal .modal-header .close, .jsSignInDoneModal .modal-header .close, .jsRegisterDoneModal .modal-header .close, .jsAccessRecoveryModal .modal-header .close, .modalSinglWave .modal-header .close, .jsPersonalArea .modal-header .close, .jsChangeLoginPhoneModal .modal-header .close, .jsRecoveryPassModal .modal-header .close, .jsAccessRecoveryPassModal .modal-header .close {
  color: white;
  position: absolute;
  left: -25%;
  opacity: 0.8; }
  .jsSignInModal .modal-header .close:hover, .jsRegisterModal .modal-header .close:hover, .jsSignInDoneModal .modal-header .close:hover, .jsRegisterDoneModal .modal-header .close:hover, .jsAccessRecoveryModal .modal-header .close:hover, .modalSinglWave .modal-header .close:hover, .jsPersonalArea .modal-header .close:hover, .jsChangeLoginPhoneModal .modal-header .close:hover, .jsRecoveryPassModal .modal-header .close:hover, .jsAccessRecoveryPassModal .modal-header .close:hover {
    opacity: 1; }

.jsRegisterDoneModal .modal-content, .jsAccessRecoveryModal .modal-content, .jsRegisterModal .modal-content, .jsChangeLoginPhoneModal .modal-content {
  width: 445px !important;
  text-align: center;
  padding: 20px 20px 12px 20px !important; }

.wrapp300 {
  width: 300px;
  margin: 0 auto 15px auto; }
  .wrapp300 .intl-tel-input {
    width: 100%; }

.wrapp270 {
  width: 270px;
  margin: 0 auto 15px auto; }
  .wrapp270 .intl-tel-input {
    width: 100%; }

.footer-btn-modal {
  margin-top: 15px; }

.forgotPassBlock {
  margin-top: 5px; }
  .forgotPassBlock a {
    display: inline-block; }

.wavesModal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .wavesModal .modal-content {
    background-color: #243698;
    width: 420px;
    padding: 20px 60px 12px 60px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 0;
    margin: 0 auto;
    color: white; }
    .wavesModal .modal-content .modal-header {
      border: 0; }
      .wavesModal .modal-content .modal-header h5 {
        font-size: 21px;
        font-weight: 900;
        text-transform: uppercase; }
    .wavesModal .modal-content .modal-body .forgotPass, .wavesModal .modal-content .modal-body .refreshCaptcha {
      text-align: right;
      margin-bottom: 6px; }
      .wavesModal .modal-content .modal-body .forgotPass a, .wavesModal .modal-content .modal-body .refreshCaptcha a {
        color: white;
        text-decoration: underline; }
    .wavesModal .modal-content .modal-body .errorMessage, .wavesModal .modal-content .modal-body .forgotPassBlock, .wavesModal .modal-content .modal-body .errorMessage2, .wavesModal .modal-content .modal-body .errorMessage3 {
      text-align: center;
      margin-bottom: 6px;
      font-style: italic;
      color: #f2fb00; }
      .wavesModal .modal-content .modal-body .errorMessage a, .wavesModal .modal-content .modal-body .forgotPassBlock a, .wavesModal .modal-content .modal-body .errorMessage2 a, .wavesModal .modal-content .modal-body .errorMessage3 a {
        font-size: 12px;
        color: #b6b95b;
        text-decoration: underline; }
        .wavesModal .modal-content .modal-body .errorMessage a:hover, .wavesModal .modal-content .modal-body .forgotPassBlock a:hover, .wavesModal .modal-content .modal-body .errorMessage2 a:hover, .wavesModal .modal-content .modal-body .errorMessage3 a:hover {
          color: #f2fb00; }
    .wavesModal .modal-content .modal-body .notYetReg {
      font-size: 13px; }
      .wavesModal .modal-content .modal-body .notYetReg a {
        color: white;
        text-decoration: underline; }

.modalSinglWave {
  width: 1170px; }
  .modalSinglWave .modal-content {
    padding: 40px;
    top: 203px;
    background-image: url(/img/bg_main.png);
    background-size: cover;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
    .modalSinglWave .modal-content .modal-header {
      border: 0;
      margin-bottom: 40px; }
      .modalSinglWave .modal-content .modal-header .modal-title {
        color: #023f97;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        letter-spacing: 0.5px; }
      .modalSinglWave .modal-content .modal-header .close {
        left: -10%; }
    .modalSinglWave .modal-content .blockWayInfoPopup {
      padding-top: 10px;
      font-size: 24px;
      color: #023f97;
      font-weight: 700;
      font-style: italic;
      letter-spacing: 0.5px; }
    .modalSinglWave .modal-content .blockWaysRowPopup {
      text-align: center; }
      .modalSinglWave .modal-content .blockWaysRowPopup .modal-title {
        color: #023f97;
        font-size: 42px;
        font-weight: 700;
        font-style: italic;
        letter-spacing: 0.5px; }
      .modalSinglWave .modal-content .blockWaysRowPopup .modal-title_singlWave {
        color: #023f97;
        font-size: 24px; }
    .modalSinglWave .modal-content .blockListMemberPopup {
      margin-top: 50px;
      margin-bottom: 40px; }
    .modalSinglWave .modal-content .blockWaysRowPopup_md {
      text-align: left;
      margin-left: 190px; }
      .modalSinglWave .modal-content .blockWaysRowPopup_md .r-ways {
        margin-bottom: 20px; }
    .modalSinglWave .modal-content .blockListMemberPopupRow {
      margin-bottom: 0;
      padding: 20px 0;
      overflow-y: scroll;
      max-height: 500px; }

.handBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px auto;
  background-image: url(/img/bg_hand.png);
  width: 385px;
  background-repeat: repeat-x; }

.hand {
  margin-left: 60px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  padding: 5px;
  top: -6px;
  position: relative;
  background-color: burlywood; }
  .hand img {
    opacity: 0.7; }

.handPhone {
  font-size: 18px;
  letter-spacing: 0.5px;
  position: relative;
  top: -5px;
  left: 15px;
  margin-left: 20px; }

#modalPopupSinglWave .modalSinglWave .modal-content {
  top: 0; }

.sub-menu {
  display: none;
  position: absolute;
  right: -53px;
  top: 24px;
  height: 43px;
  background-color: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 0; }
  .sub-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .sub-menu ul li {
      border: 0; }
      .sub-menu ul li a {
        color: #29539f;
        font-size: 14px;
        font-style: italic;
        text-transform: none; }

.personalArea .modal-content {
  width: 755px; }
  .personalArea .modal-content .block-userArea {
    margin-bottom: 20px;
    font-size: 12px; }
    .personalArea .modal-content .block-userArea-1 {
      text-transform: uppercase;
      font-weight: 700; }
    .personalArea .modal-content .block-userArea a {
      color: white;
      font-style: italic; }
  .personalArea .modal-content .block-userArea-footer {
    margin-top: 30px; }
  .personalArea .modal-content .block-userArea-flabel {
    text-align: center;
    color: #dee929;
    font-weight: 700;
    font-style: italic; }

.pagination-task {
  margin-top: 80px; }
  .pagination-task-btn-prev {
    text-align: left; }
    .pagination-task-btn-prev .btn-prev {
      text-align: left;
      background-color: #023f97;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-border-radius: 8px;
              border-radius: 8px; }
  .pagination-task-btn-done {
    text-align: right; }
    .pagination-task-btn-done .btn-done {
      text-align: right;
      background-color: #023f97;
      text-transform: uppercase;
      font-weight: bold;
      -webkit-border-radius: 8px;
              border-radius: 8px; }

.wavesModalOffer {
  background-color: #243698;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin: 0 auto;
  color: white; }
  .wavesModalOffer .modal-header {
    border-bottom: 0; }
  .wavesModalOffer .modal-footer {
    border-top: 0; }
  .wavesModalOffer img {
    max-width: 870px;
    width: 100%; }
  .wavesModalOffer .close {
    color: white;
    opacity: 0.8;
    font-size: 30px; }
    .wavesModalOffer .close:hover {
      opacity: 1; }

.mobLink {
  padding: 5px 0;
  text-align: center; }
  .mobLink img {
    height: 38px;
    padding: 0 15px;
    cursor: pointer; }
