*
  margin: 0
  padding: 0

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  outline: 0 none
  vertical-align: baseline

html, body
  font-family: "Open Sans", sans-serif
  font-size: 14px
  color: #333
  line-height: 1.42857143
  letter-spacing: 0.5px
  min-height: 100vh
  height: 100%

.link
  cursor: pointer
  color: white

body.modal-open
  padding-right: 15px !important

.g-recaptcha
 margin: 0 auto
 text-align: center
 width: 306px
.linkLogin
  color: white
  cursor: pointer
  &:hover
    color: white
.allCountry
  padding-right: 44px !important
.country
  color: black
.intl-tel-input .country-list
  z-index: 9 !important
.disabledLink
  color: #dcd4d4 !important
  text-decoration: none !important
  cursor: no-drop
.bg-btn
    color: #fff
    background-color: #023f97
    height: 40px
    font-size: 15px
    font-weight: 800
    font-style: italic
    line-height: 18px
    letter-spacing: 0.5px
    padding: 7px 14px
    border-width: 0
    border-radius: 5px
    text-transform: uppercase
    -webkit-transition: all 0.4s
    transition: all 0.4s
    cursor: pointer
    &:hover
        color: #023f97
        background-color: #fff

.app
  position: relative
  min-height: 100%
  display: flex
  flex-direction: column

.header
  background-image: url("/img/bg_header_top.png")
  background-size: cover

.header-top-row
  margin-top: 30px
  color: #f00
  .navbar-right
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end
    color: #023f97
    font-weight: 700
    font-style: italic
    .dot
      padding: 0 5px
    a
      color: #023f97
      text-transform: uppercase
      letter-spacing: 0.5px
      -webkit-transition: all 0.4s
      transition: all 0.4s
      cursor: pointer
      &:hover
        color: #fff
        text-decoration: underline

.header-bottom-row
  margin-bottom: 45px
  color: #008000
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  .logo
    img
      width: 109px
      height: 109px
      box-shadow: 10px 10px 22px -4px rgba(0,0,0,0.59)
  .logo, .logoText
    padding-right: 34px
  .logoText
    img
      width: 400px
      height: 100px
  .info-user
    flex: 1 1
    justify-content: flex-end
    display: flex
    .info-user-row
      display: flex
      flex-direction: column
      .info-user-total, .info-user-friends
        font-weight: 800
        font-size: 16px
        line-height: 28px
        font-style: italic
        color: #243698
        text-shadow: 1px 1px 0 white
        span
          padding-left: 8px

.menu
  background-color: #243698
  border-top: 3px solid #fff
  border-bottom: 3px solid #fff
  height: 30px

.menu-block
  position: relative
  top: 2px
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  ul
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
    -ms-flex-line-pack: center
    align-content: center
    margin-left: 0
    margin-right: 0
    height: 20px
    .active
      a
        font-weight: 600
        text-transform: uppercase
    li
      -webkit-box-flex: 1
      -ms-flex: 1 1
      flex: 1 1
      list-style-type: none
      padding: 0 20px
      border-left: 1px solid #fff
      border-right: 1px solid #fff
      a
        color: #fff
        text-decoration: none
        text-transform: uppercase
        font-weight: 300
        -webkit-transition: all 0.4s
        transition: all 0.4s
        &:hover
          text-decoration: underline

.main
  display: flex
  flex: 1 1
  padding: 45px 0 90px 0
  background-image: url("/img/bg_main.png")
  background-size: cover
  .block-description
    padding: 20px
    background-color: #2350ad
    border-radius: 15px
    color: #fff
    box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59)
    &_task
      box-shadow: 10px 10px 22px -4px rgba(0, 0, 0, 0.59)
    &_user
      width: 755px
      padding: 20px 60px
      margin: 0 auto
      h2
        text-align: center
        margin-bottom: 40px
      .block-userArea-1
        text-transform: uppercase
        font-weight: 900
      .block-userArea
        margin-bottom: 25px
        a
          color: white
          &:hover
            color: white
      .block-userArea-flabel
        text-align: center
        color: #f2fb00
        font-size: 12px
        font-style: italic
  .block-video
    text-align: center
    margin: 35px auto 0 auto
  .block-auth
    text-align: center
    margin-top: 35px
  .block-auth-row
    margin-bottom: 25px

.block-ways-row
  width: 800px
  margin: 0 auto
  margin-top: 80px
  margin-bottom: 80px
.r-ways
  margin-bottom: 50px
  cursor: pointer
  &:hover
    opacity: 0.8

.way-wrapper
  display: inline-flex
  align-items: center
  justify-content: space-between
  position: relative
  height: 64px
  border: 1px solid white
  background: rgba(22, 170, 249, 1)
  background: -moz-linear-gradient(left, rgba(22, 170, 249, 1) 0%, rgba(255, 255, 255, 1) 100%)
  background: -webkit-linear-gradient(left, rgba(22, 170, 249, 1) 0%, rgba(255, 255, 255, 1) 100%)
  background: -o-linear-gradient(left, rgba(22, 170, 249, 1) 0%, rgba(255, 255, 255, 1) 100%)
  background: -ms-linear-gradient(left, rgba(22, 170, 249, 1) 0%, rgba(255, 255, 255, 1) 100%)
  background: linear-gradient(to right, rgba(22, 170, 249, 1) 0%, rgba(255, 255, 255, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16aaf9', endColorstr='#ffffff', GradientType=1 )
  -webkit-box-shadow: 10px 13px 27px -1px rgba(0, 0, 0, 0.68)
  -moz-box-shadow: 10px 13px 27px -1px rgba(0, 0, 0, 0.68)
  box-shadow: 10px 13px 27px -1px rgba(0, 0, 0, 0.68)
  .w_star
    position: absolute
    right: -26px
    top: -55px
  .w_curl
    position: absolute
    top: -16px
    left: -14px
    float: left
  .w_curl-2
    left: 114px !important
  .w_curl-3
    left: 240px !important
  .w_curl-4
    left: 366px !important
  .w_curl-5
    left: 492px !important
  .w_splash
    position: absolute
    top: -22px
    left: 100px
    float: left
  .number_way
    font-size: 28px
    padding-left: 55px
    font-weight: 800
    color: white
    font-style: italic
    flex: 1 1
  .number_member
    padding-left: 20px
    padding-right: 20px
    font-size: 40px
    font-weight: 600
    font-style: italic
    color: #023f97
    flex: 1 1
    display: flex
    justify-content: flex-end
.col-way-1
  min-width: 150px
.col-way-2
  min-width: 350px
  .w_splash
    left: 235px
.col-way-3
  min-width: 500px
  .w_splash
    left: 380px
.col-way-4
  min-width: 650px
  .w_splash
    left: 520px
.col-way-5
  min-width: 780px
  .w_splash
    left: 660px
.footer
  left: 0
  bottom: 0
  width: 100%
  padding: 15px 0
  background-color: #243698
  border-top: 3px solid #fff
  .flex-container
    display: -webkit-box
    display: -ms-flexbox
    display: flex
  .email
    padding: 10px 0
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
  .email-icon_email
    position: relative
    color: #fff
    cursor: pointer
    top: 1px
    &:hover
      fill-opacity: 0.8
  .social
    padding: 5px 0
  .social-title
    font-weight: 800
    font-size: 17px
    font-style: italic
    padding-bottom: 10px
    color: #fff
  .social-icon
    cursor: pointer
    margin-right: 12px
    &:hover
      fill-opacity: 0.8
  .social-icon_ok
    //width: 36px
  .contact
    color: #fff
    text-align: right
    font-style: italic
    a
      color: white
  .contact__title
    font-size: 17px
    font-weight: 800
    padding-bottom: 10px

.invitation-block-social
  text-align: center
  margin-top: 70px
  margin-bottom: 70px
  display: flex
  justify-content: center
  .social-icon
    cursor: pointer
    &:hover
      fill-opacity: 0.8
  .social-icon_fb
    position: relative
    top: -8px

.btnAction, .jsRegisterDoneModal .btnAction
  background-color: white
  color: #243698
  font-size: 18px
  line-height: 16px
  font-weight: bold
  text-transform: uppercase
  min-width: 74px
.btnAction_done
  opacity: 1
.forgotPass
  text-align: right
  font-size: 13px
  color: white
  &:hover
    color: white
.jsSignInModalBody,.jsRegisterModalBody, .jsAccessRecoveryModalBodyDone, .jsChangeLoginPhoneModalBody, .jsChangePasswordModalBody, .jsChangePasswordModalBodyDone, .jsChangeLoginModalBodyDone, .jsRecoveryPassModalBody, .jsAccessRecoveryPassModalBodyDone
  display: none


.jsSignInModal,.jsRegisterModal,.jsSignInDoneModal,.jsRegisterDoneModal,.jsAccessRecoveryModal, .modalSinglWave, .jsPersonalArea, .jsChangeLoginPhoneModal, .jsRecoveryPassModal, .jsAccessRecoveryPassModal
  .modal-header
    .close
      color: white
      position: absolute
      left: -25%
      opacity: 0.8
      &:hover
        opacity: 1

.jsRegisterDoneModal,.jsAccessRecoveryModal, .jsRegisterModal, .jsChangeLoginPhoneModal
  .modal-content
    width: 445px !important
    text-align: center
    padding: 20px 20px 12px 20px !important

.wrapp300
  width: 300px
  margin: 0 auto 15px auto
  .intl-tel-input
    width: 100%
.wrapp270
  width: 270px
  margin: 0 auto 15px auto
  .intl-tel-input
    width: 100%
.footer-btn-modal
  margin-top: 15px
.forgotPassBlock
  margin-top: 5px
  a
    display: inline-block
.wavesModal
  display: flex
  align-items: center
  justify-content: center
  .modal-content
    background-color: #243698
    width: 420px
    padding: 20px 60px 12px 60px
    border-radius: 5px
    border: 0
    margin: 0 auto
    color: white
    .modal-header
      border: 0
      h5
        font-size: 21px
        font-weight: 900
        text-transform: uppercase
    .modal-body
      .forgotPass,.refreshCaptcha
        text-align: right
        margin-bottom: 6px
        a
          color: white
          text-decoration: underline
      .errorMessage, .forgotPassBlock, .errorMessage2, .errorMessage3
        text-align: center
        margin-bottom: 6px
        font-style: italic
        color: #f2fb00
        a
          font-size: 12px
          color: #b6b95b
          text-decoration: underline
          &:hover
            color: #f2fb00
      .notYetReg
        font-size: 13px
        a
          color: white
          text-decoration: underline

.modalSinglWave
  width: 1170px
  .modal-content
    padding: 40px
    top: 203px
    background-image: url(/img/bg_main.png)
    background-size: cover
    box-shadow: 0 5px 15px rgba(0,0,0,.5)
    .modal-header
      border: 0
      margin-bottom: 40px
      .modal-title
        color: #023f97
        font-size: 48px
        font-style: italic
        font-weight: 700
        letter-spacing: 0.5px
      .close
        left: -10%
    .blockWayInfoPopup
      padding-top: 10px
      font-size: 24px
      color: #023f97
      font-weight: 700
      font-style: italic
      letter-spacing: 0.5px

    .blockWaysRowPopup
      text-align: center
      .modal-title
        color: #023f97
        font-size: 42px
        font-weight: 700
        font-style: italic
        letter-spacing: 0.5px
      .modal-title_singlWave
        color: #023f97
        font-size: 24px
    .blockListMemberPopup
      margin-top: 50px
      margin-bottom: 40px
    .blockWaysRowPopup_md
      text-align: left
      margin-left: 190px
      .r-ways
        margin-bottom: 20px
    .blockListMemberPopupRow
      margin-bottom: 0
      padding: 20px 0
      overflow-y: scroll
      max-height: 500px
.handBlock
  display: flex
  align-items: center
  margin: 5px auto
  background-image: url(/img/bg_hand.png)
  width: 385px
  background-repeat: repeat-x
.hand
  margin-left: 60px
  border-radius: 25px
  padding: 5px
  top: -6px
  position: relative
  background-color: burlywood
  img
    opacity: 0.7
.handPhone
  font-size: 18px
  letter-spacing: 0.5px
  position: relative
  top: -5px
  left: 15px
  margin-left: 20px

#modalPopupSinglWave .modalSinglWave .modal-content
  top: 0

.sub-menu
  display: none
  position: absolute
  right: -53px
  top: 24px
  //height: 60px
  height: 43px
  background-color: white
  border-radius: 5px
  padding: 10px 0
  ul
    display: flex
    flex-direction: column
    li
      border: 0
      a
        color: #29539f
        font-size: 14px
        font-style: italic
        text-transform: none
.personalArea
  .modal-content
    width: 755px
    .block-userArea
      margin-bottom: 20px
      font-size: 12px
      &-1
        text-transform: uppercase
        font-weight: 700
      a
        color: white
        font-style: italic
    .block-userArea-footer
      margin-top: 30px
    .block-userArea-flabel
      text-align: center
      color: #dee929
      font-weight: 700
      font-style: italic

.pagination-task
  margin-top: 80px
  &-btn-prev
    text-align: left
    .btn-prev
      text-align: left
      background-color: #023f97
      text-transform: uppercase
      font-weight: bold
      border-radius: 8px
  &-btn-done
    text-align: right
    .btn-done
      text-align: right
      background-color: #023f97
      text-transform: uppercase
      font-weight: bold
      border-radius: 8px

.wavesModalOffer
  background-color: #243698
  //padding: 20px 60px 12px 60px
  -webkit-border-radius: 5px
  border-radius: 5px
  border: 0
  margin: 0 auto
  color: white
  .modal-header
    border-bottom: 0
  .modal-footer
    border-top: 0
  img
    max-width: 870px
    width: 100%
  .close
    color: white
    opacity: 0.8
    font-size: 30px
    &:hover
      opacity: 1

.mobLink
  padding: 5px 0
  text-align: center
  img
    height: 38px
    padding: 0 15px
    cursor: pointer